.Contact{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 480px;
   

    .ConnectHeading{
        position: absolute;
        top: 75px;
    }

    .Links{
        display: flex;
        flex-direction: column;
        align-items: center;

        .ConnectLink{
            font-size: 27px;
            margin: 10px;
        }

        .ConnectLink:hover{
            font-size: 28px;
        }

        a{
            
            font-family: 'Bungee Shade';
            position: relative;
            z-index: 21;
        }
    }
}