$light-color:rgb(247, 232, 193);

.ProjectCard{
    // width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid $light-color;
    position: relative;

    .ProjectHeading{
        cursor: pointer;
        position: unset;
        font-size: 27px;
        margin: 10px;
    }

    .ProjectHeading:hover{
        font-size: 30px;
    }

    .ImgOverlay{
        position: relative;
    }

   
        .Thumbnail{
            width: 300px;  
            // border: 1px solid $light-color;   
            border-radius: 20px;
        }

        .Thumbnail:hover{
            width: 305px;
        }

        .Pointer{
            width: 20px;
            position: absolute;
            bottom: -10px;
            right: 20px;
        }
    

    .Hidden{
        display: none;
    }

    .Shown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p{
        text-align: center;
        margin: 10px;
    }

    .XOutButton{
        position: absolute;
        width: 20px;
        top: 8px;
        right: 12px;
        cursor: pointer;
    }

    
}

.Border{
    border: 1px solid $light-color;
    border-radius: 20px;
}