$light-color:rgb(247, 232, 193);

.ProjectCard{
    max-width: 800px;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
   

    .ProjectHeading{
        cursor: pointer;
        position: unset;
        font-size: 27px;
        margin: 10px;
        width: 95%;
        text-align: center;
    }

    .ProjectHeading:hover{
        font-size: 28px;
    }

    .ImgOverlay{
        position: relative;
    }

        .Thumbnail{
            width: 300px;   
            border-radius: 20px;
            cursor: pointer;
        }

        .Thumbnail:hover{
            width: 305px;
        }

        .Pointer{
            width: 20px;
            position: absolute;
            bottom: -10px;
            right: 20px;
        }
    

    .Hidden{
        display: none;
    }

    .Shown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p{
        text-align: center;
        margin: 10px;
    }

    .XOutButton{
        position: absolute;
        width: 20px;
        top: 8px;
        right: 12px;
        cursor: pointer;
    }

    
}

.Border{
    border: 1px solid $light-color;
    border-radius: 20px;
}


@media (max-width: 600px ){
    .ProjectCard{
        width: 90%;
        height: fit-content;
        
        .XOutButton{
            width: 10px;
            right: 5px;
        }

        .ProjectHeading{
            font-size: 20px;
        }
        .ProjectHeading:hover{
            font-size: 21px;
        }

        .ImgOverlay{
            width: 90%;
        }

        .Thumbnail{
            width: 100%;   
            border-radius: 20px;
        }

        .Thumbnail:hover{
            width: 100%;
         
        }

        .Pointer{
            width: 20px;
            position: absolute;
            bottom: -10px;
            right: 20px;
        }
    

    }
}

@media (max-width: 350px ){
    .ProjectCard{
        // top: 50px;
        .ProjectHeading{
            font-size: 15px;
        }
        .ProjectHeading:hover{
            font-size: 16px;
        }

        .Shown{

            p{
                font-size: 14px;
               
            }

        }
    }
}

@media (max-height: 500px){
    .ProjectCard{

        .ImgOverlay{
            width: 50%;
        }
    
            .Thumbnail{
                width: 100%;    
                border-radius: 20px;
            }
    
            .Thumbnail:hover{
                width: 100%;
            }
    
    }
}