.Home{
    width: 100vw;
    height: 100vh;
    // position: relative;
    // background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 280px;
   
    
    .HomeContent{
        height: 75%;
        width: 80%;
        max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // margin-bottom: 15px;
   
        
        .Name1{
            font-size: 35px;
            text-align: center;
            // margin-right: 10px;
        }

        .Title{
            text-align: center;
            // margin-right: 10px;
            font-size: 35px;
        }

        img{
            height: 80%;
            // max-width: 400px;
        }
    }

}

@media (max-width:600px){
    .Home{
        .HomeContent{
            img{
                height: unset;
                width: 80%;
            }
        }
    }
}

@media (max-width: 350px){
    .Home{
        .HomeContent{
            
            .Name1, .Title{
                font-size: 25px;
                // width: 70%;
            }
        }
    }
}