.About{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    min-width: 500px;

.AboutContent{
    margin:75px 30px 20px 20px;
  
    .Name1{
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0px;
        top: 75px;
        z-index: 22;
    }

    img{
        width: 50%;
        border-radius: 20px;
        float: left;
        margin-left: 20px;
        margin-right: 10px;
    }

    p{
        // width: 80%;
        margin: 0px 20px 20px 20px;
        text-align: center;
        max-width: 800px;
    }

   .ResumeLink{
       height: 35px;
       font-size: 27px;
       margin-left: 15px;
    //    margin: auto;
        text-align: center;
        a{
            font-family: 'Bungee Shade';
            position: relative;
            z-index: 21;
        }
        
    }

    .ResumeLink:hover{
        font-size: 28px;
    }
}
}

@media (max-width: 600px){
    .About{
        .AboutContent{
       
            display: block;
            img{
                float: left;
            }
    
            p{
                position: relative;
                z-index: 22;
            }
    
            .ResumeLink{
                font-size: 20px;
            }
            .ResumeLink:hover{
                font-size: 21px;
            }
        }
    }
    
}

@media (max-height: 600px){
    .About{
        min-height: 500px;
    }

    .AboutContent{

        img{
            display: none;
        }   
    }
}