.Projects{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 600px;
    min-width: 280px;

    .ProjectsTitle{
        position: absolute;
        top: 75px;
        // margin-left: 10px;
    }

    .ProjectCards{
        position: absolute;
        z-index: 21;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-right: 10px;

    }

    .ProjectCardsToTop{
        position: absolute;
        // margin-right: 10px;
        z-index: 21;
        top: 155px;
        width: 80%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

  
}